<!DOCTYPE html>
<html>
  <head>
    <title>ShaftSealKit</title>
    <%= yield :head %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
