<!DOCTYPE html>
<html>
  <head>
    <title>ShaftSealKit</title>
    <%= yield :head %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
